RewriteEngine on
Redirect 301 "/Web_Animation.mp4" "/ASSETS/MOTION GRAPHICS/Web_Animation.mp4"
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

